.sidebar-contianer{
    background-color: rgba(0, 0, 0, 0.813);
    color: white;
    width: fit-content;
    padding: 10px 20px;
    height: fit-content;
    top: 12.3%;

    
}
.sidebar-ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    cursor: pointer;
}

.sidebar-ul li{
    display: flex;
    gap: 10px;
    background-color: rgb(86, 126, 161);
   
    padding: 15px 20px;
    margin-right: 10px;
}
.sidebar-ul span{
    margin-top: -5px;
}
.sidebar-ul li:hover{
    background-color: rgb(53, 50, 50);
}

.non-active {
    text-decoration: none;
    color: white;
}

.active-link {
    text-decoration: none;
}

.active-link li {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    transform: scale(1.05);
}
.active-link li:hover{
    background-color: white;
}

